.mkm-faint {
	opacity: .25;
}
.mkm-recessed {
	opacity: .4;
}
.mkm-info {
	margin-bottom: 6px;
}
.mkm-info-pair {
	display: flex;

}
.mkm-info-key {
	text-transform: uppercase;
	background: #EEE;
	padding: 4px 10px 4px 10px;
	margin: 2px 6px 2px 0px;
	border-left: 2px solid #DDD;
	font-weight: bold;
	font-size: 75%; 
	color: #777;
}
.mkm-info-value {
	line-height: 2;
	font-size: 94%;
}
.mkm-info-value > code {
	font-size: 95%;
}
.mkm-info-tags {
	margin-bottom: 6px;
}
.mkm-info-tag {
	border: 1px solid #D7D7D7;
	color: #666;
	font-size: 82%;
	text-transform: uppercase;
	padding: 3px 7px 3px 7px;
	margin-right: 5px;
}
.mkm-type {
	font-size: 90%;
	letter-spacing: 1px;
	opacity: .7;
}
.mkm-keyname {
	font-size: 85%;	
}
.mkm-bracket {
	opacity: .75;
	margin-left: 4px;
	margin-right: 4px;
}
.mkm-or {
	font-size: 80%;
	opacity: .4;
}
.mkm-depblock {
	margin-left: 20px;
	padding-left: 10px;
	border-left: 1px solid #DDD;
}
.mkm-depclass {
	font-weight: bold;
}
.mkm-missing {
	font-size: 88%;
	opacity: .7;
}
.mkm-body {
	opacity: .85;
}
